<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Mobile</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Styles/jquery-ui")
    @Styles.Render("~/Styles/bootstrap")
    @Styles.Render("~/Styles/fontawesome")
    @Styles.Render("~/Styles/Mobile/site")
    @RenderSection("Styles", required: false)
    @Scripts.Render("~/Scripts/modernizr")
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/jquery-ui")
    @Scripts.Render("~/Scripts/bootstrap")
    @Styles.Render("~/Scripts/Mobile/site")
    @RenderSection("Scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>